<div id="nav-container"></div>
<div id="content-wrapper">
	<ul>
		<li><%= user.get(['name']) %></li>
		<li><%= user.get(['username']) %></li>
		<ul>
			<% posts.each(function(post){ %>
				<li><%= post.get(['title']) %></li>
			<% }) %>
		</ul>
	</ul>
	<div id="user-posts-container"></div>
</div>		
	<!-- <form action="/tweet">
			<input type="hidden" name="authenticity_token"
		    value="form_authenticity_token ">
		  <input type="text" name="user[tweet_body]">
		  <input type="submit" value="Submit">
	</form> -->
