<div class="page-post-container">
	<h2 class="page-post">
		<a href="<%= url %>"><%= post.escape('post_title') %></a>
	</h2>
	<p class="page-post">
		<%= post.escape('post_body') %>
	</p>
	<span class="page-post"></span>
</div>
