<div class="page-post-container">
	<h1 class="page-post">
		<%= post.escape('post_title') %>
	</h1>
	<p class="page-post">
		<%= post.escape('post_body') %>
	</p>
	<span class="page-post"></span>
</div>
