<div class="page-post-container">
	<h2 class="page-post">
		<a href="<%= url %>"><%= post.escape('post_title') %></a>
	</h2>
	<p class="page-post">
		<%= post.get('post_body') %>
	</p>
	<span class="page-post"><%= post.escape('creation_date') %> ago</span>
</div>
