<div class="front"></div>
<div id="nav-container"></div>
<div id="content-wrapper">
	<div class="hero-content">
		<h1>140 characters not enough?</h1>
		<h3>squawkr is a microblogging platform that co-publishes your posts, up to 800 characters long, to your Twitter account</h3>
		<br>
		<h3>Here's your squawkr post...</h3>
		<img src="https://s3-us-west-1.amazonaws.com/squawkr/squawkr-screenshot.png">
		<h3>...and here it is on Twitter</h3>
		<img src="https://s3-us-west-1.amazonaws.com/squawkr/twitter-screenshot.png">
		<div>
		<a href="/auth/twitter" class="btn-sm"><strong>Get Started Now</strong></a>
		</div>
	</div>
</div>