<div class="front"></div>
<div id="nav-container"></div>
<div id="content-wrapper">
	<div class="hero-content">
		<h1>140 characters not enough?</h1>
		<h3>squawkr is a microblogging platform that co-publishes your posts, up to 800 characters long, to your Twitter account</h3>
	</div>
</div>