<ul>
	<li class="left">Website!</li>
	<% if(!!currentUser){ %>
	<li class="right"><a href="javascript:void(0)" id="signOut">Sign Out</a></li>
	<% } else{ %>
	<li class="right"><a href="/auth/twitter">Sign In</a></li>
	<% }; %>
</ul>