<ul class="nav-main">
	<li class="left">
		<span><a href="/#"><h1 class="logo">squawkr</h1></a></span>
	</li>
	<% if(!!currentUser){ %>
		<li class="right">
			<span>
				<!-- <a href="javascript:void(0)" id="newPostAction">Create New Post</a> -->
				<a href="#newPostModal" 
				data-toggle="modal" 
				id="newPostAction"
				class="btn-sm"
				role="button">
					<span class="glyphicon glyphicon-plus"></span>
					 Post
				</a>
			</span>
		</li>
		<li class="right">
			<div class="dropdown">
				<a href="#" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
					<img src="<%= currentUser.escape('image_url') %>">
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation">
		    	<a role="menuitem" 
		    	tabindex="-1" 
		    	href="#u/<%= currentUser.escape('username') %>">
		    		My Profile
		    	</a>
		    </li>
		    <li role="presentation">
			    <a role="menuitem" 
			    tabindex="-1" 
			    href="javascript:void(0)" 
			    id="signOutAction">
			    	Sign Out
			    </a>
		    </li>
		    <li role="presentation" class="divider"></li>
		    <li>
		    	<a role="menuitem" 
			    tabindex="-1" 
			    href="javascript:void(0)" 
			    id="deleteAccountAction">
			    	Delete Account
			    </a>
		    </li>
		    </ul>
	    </div>
		</li>
	<% } else{ %>
	<li class="right"><a href="/auth/twitter">Sign In</a></li>
	<% }; %>
	<li class="right">
		<div id="search">
		  <input class="typeahead form-control" type="text" placeholder="Find a user">
		</div>
	</li>
</ul>
<!-- <span class="glyphicon glyphicon-edit"></span>
<span class="glyphicon glyphicon-pencil"></span>
<span class="glyphicon glyphicon-plus-sign"></span>
<span class="glyphicon glyphicon-align-left"></span> -->